<% provide(:title, @user.display_name) %>
<h1><%= @user.display_name %></h1>
<table>
    <tr>
        <th>Display Name</th>
        <td><%= @user.display_name %></td>
    </tr>
    <tr>
        <th>Email:</th>
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th>Status</th>
        <td><%= @user.status %></td>
    </tr>
    <tr>
        <th>Currently:</th>
        <td><% if @user.logged_in %>Online<% else %>Offline<% end %></td>
    </tr>
</table>